#EXTM3U
#EXTINF:-1 group-title="Arnold",ARNOLD S1 E01:
http://media-br-am.crackle.com/1/u/v6/wnvlf_480p.mp4
#EXTINF:-1 group-title="Arnold",ARNOLD S1 E02:
http://media-br-am.crackle.com/1/t/v6/vnvlf_480p.mp4
#EXTINF:-1 group-title="Arnold",ARNOLD S1 E03:
http://media-br-am.crackle.com/1/t/v6/unvlf_480p.mp4
#EXTINF:-1 group-title="Arnold",ARNOLD S1 E04:
http://media-br-am.crackle.com/1/t/v6/tnvlf_480p.mp4
#EXTINF:-1 group-title="Arnold",ARNOLD S1 E05:
http://media-br-am.crackle.com/1/t/v6/snvlf_480p.mp4
#EXTINF:-1 group-title="Arnold",ARNOLD S1 E06:
http://media-br-am.crackle.com/1/s/v6/rnvlf_480p.mp4
#EXTINF:-1 group-title="Arnold",ARNOLD S1 E07:
http://media-br-am.crackle.com/1/s/v6/qnvlf_480p.mp4
#EXTINF:-1 group-title="Arnold",ARNOLD S1 E08:
http://media-br-am.crackle.com/1/s/v6/pnvlf_480p.mp4
#EXTINF:-1 group-title="Arnold",ARNOLD S1 E09:
http://media-br-am.crackle.com/1/s/v6/onvlf_480p.mp4
#EXTINF:-1 group-title="Arnold",ARNOLD S1 E10:
http://media-br-am.crackle.com/1/r/v6/nnvlf_480p.mp4
#EXTINF:-1 group-title="Arnold",ARNOLD S1 E11:
http://media-br-am.crackle.com/1/r/v6/knvlf_480p.mp4
#EXTINF:-1 group-title="Arnold",ARNOLD S1 E12:
http://media-br-am.crackle.com/1/r/v6/mnvlf_480p.mp4
#EXTINF:-1 group-title="Arnold",ARNOLD S1 E13:
http://media-br-am.crackle.com/1/r/v6/lnvlf_480p.mp4
